.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(27, 27, 44);
    height: 3.8rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.nav ul li {
    list-style: none;
    padding: 1rem 3.5rem;
    border: .5px dashed rgba(27, 27, 44, 0.733);
    transition: border-width 0.4s linear;
}

.nav ul li:hover {
    border-bottom: .5px dashed rgb(71, 204, 197);
    border-width:5px;
}

.nav ul li a{
    text-decoration: none;
    color: #fff;
}

.nav i {
    margin-left: .5rem;
    color: rgb(71, 204, 197);
}

.hamBx {
    width: 2.5rem;
    height: 2.5rem;
    display: none;
}

/* media queries */

@media screen and (max-width: 800px) {
    .nav ul {
        display: none;
    }

    .hamBx{
        display: block;
        position: absolute;
        top: .65rem;
        right: 2rem;
        z-index: 10;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ham1, .ham2, .ham3 {
        width: 80%;
        height: 2px;
        background-color: rgb(71, 204, 197);
        margin: .2rem;
    }

    .ham2{
        width: 60%;
    }

    .ham3{
        width: 40%;
    }
  }
