.intro-section {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    /* align-items: center; */
}

.intro-section img {
    width: 250px;
    height: auto;
}

.intro-section section {
    flex-direction: 1;
    width: fit-content;
    text-align: justify;
}

.intro-section div{
    display: flex;
    align-items:  center;
    padding-left: 5rem;
}

.intro-section section, .intro-section div {
    flex: 1;
}


.intro-container>p:first-child{
    color: rgb(71, 204, 197);
    margin-bottom: .5rem;
}

.intro-container h4 {
    color: rgb(43, 43, 61);
    margin-top: .5rem;
}

.intro-container>p:last-child{
    margin: 1rem 0;
    line-height: 2rem;
    text-align: justify;
}

.yellow{
    color: rgb(71, 204, 197);
}

/* media queries */

@media screen and (max-width: 800px) {
    
    .intro-section {
        flex-direction: column;
    }

    .intro-section section {
        width: 100%;
        padding-right: 0;
    }

    .intro-section>div:last-child {
        margin-top: 3rem;
        justify-content: center;
    }

    .intro-section div {
        padding-left:0;
    }
    
    

}